org.opentosca.planbuilder.core.bpel/META-INF/resources/schemas/opentoscaapischema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://opentosca.org/api"
	targetNamespace="http://opentosca.org/api">
	<element name="correlationID" type="string"></element>
	
    <!-- 
      Example:
      <Log>
          <Message>Hello from Plan!</Message>
      </Log>
    -->
    <element name="Log" type="tns:LogType"/>
	
	<element name="CreateRelationshipTemplateInstanceRequest" type="tns:TCreateRelationshipTemplateInstanceRequest"/>

	<complexType name="TCreateRelationshipTemplateInstanceRequest">
		<attribute name="source-instance-id" />
		<attribute name="target-instance-id"/>
	</complexType>
  
    <complexType name="LogType">
        <sequence>
            <element name="Status" type="string" minOccurs="0" />
            <element name="Type" type="string" minOccurs="0" />
            <element name="Message" type="string"/>
        </sequence>
    </complexType>
    
</schema>